@include breakpoint('<=medium') {
  .ms-form {
    iframe {
      display: none;
    }
  }
}

@include breakpoint('>medium') {
  .ms-form {
    iframe {
      display: block;
    }
    a {
      display: none;
    }
  }
}
