.stream {
  display: flex;
  justify-content: space-around;
  position: relative;
  height: 450px;

  iframe,
  object,
  embed {
    width: 100%;
    height: 100%;
    max-height: 500px;
  }

  .stream-left {
    width: 60%;
  }

  .stream-right {
    width: 30%;
  }
}

@include breakpoint('<=medium') {
  .stream {
    display: block;
    height: auto;

    .stream-left {
      width: 100%;
      height: 400px;

    }
    .stream-right {
      width: 100%;
      height: 300px;
    }
  }
}

@include breakpoint('<=small') {
  .stream {
    .stream-left {
      height: 300px;

    }
    .stream-right {
      height: 200px;
    }
  }
}

@media screen and (max-width: 580px) {
  .stream {
    .stream-left {
      height: 250px;

    }
    .stream-right {
      height: 200px;
    }
  }
}
