.stream-thumbnail {
  max-width: 100%;
  transition: 0.2s ease-in-out;
  margin-top: 100px;

  &:focus,
  &:hover,
  &:active {
    opacity: 0.6;
  }
}

.countdown {
  text-align: center;
}

.countdown-header {
  font-size: 50px;
  text-align: center;
  margin-bottom: 0;
}

.countdown-confetti {
  width: fit-content;
  margin: auto;
  &::before {
    content: ' ';
    white-space: pre;
  }
}

.vuejs-countdown {
  .digit,
  li:after {
    font-size: 6rem !important;
  }
  .text {
    display:none;
  }
  li:after {
    top: -50px !important;
    right: -30px !important;
  }
}

@include breakpoint('<=medium') {
  .vuejs-countdown {
    .digit,
    li:after {
      font-size: 4rem !important;
    }
    .text {
      font-size: 1rem !important;
    }
    li:after {
      top: -24px !important;
      right: -22px !important;
    }
  }
  .countdown-header {
    font-size: 35px;
  }
}

@include breakpoint('<=small') {
  .countdown-header {
    font-size: 25px;
  }
}
