.stream-thumbnail {
  max-width: 100%;
  transition: 0.2s ease-in-out;
  margin-top: 100px;

  &:focus,
  &:hover,
  &:active {
    opacity: 0.6;
  }
}

.countdown {
  text-align: center;
}

.countdown-header {
  font-size: 50px;
  text-align: center;
  margin-bottom: 0;
}

.countdown-confetti {
  width: fit-content;
  margin: auto;
  &::before {
    content: ' ';
    white-space: pre;
  }
}

.vuejs-countdown {
  .digit,
  li:after {
    font-size: 70px !important;
  }
  .text {
    display:none;
  }
  li:after {
    top: -33px !important;
    right: -24px !important;
  }
}

@include breakpoint('<=medium') {
  .vuejs-countdown {
    .digit,
    li:after {
      font-size: 45px !important;
    }
    .text {
      font-size: 1rem !important;
    }
    li:after {
      top: -16px !important;
      right: -19px !important;
    }
  }
  .countdown-header {
    font-size: 33px;
  }
}

@include breakpoint('<small') {
  .vuejs-countdown {
    .digit,
    li:after {
      font-size: 35px !important;
    }
    .text {
      font-size: 1rem !important;
    }
    li:after {
      top: -13px !important;
      right: -19px !important;
    }
  }
  .countdown-header {
    font-size: 25px;
  }
}

@include breakpoint('<xsmall') {
  .vuejs-countdown {
    .digit,
    li:after {
      font-size: 30px !important;
    }
    .text {
      font-size: 1rem !important;
    }
    li:after {
      top: -10px !important;
      right: -18px !important;
    }
  }
  .countdown-header {
    font-size: 20px;
  }
}
